/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:root {
  --clr-primary: #1b2030;
  --clr-message: #555354;
  --clr-white: #dfdfdf;
  --clr-accent: #f985d1;
  --br-main: 0.5rem;
}

* {
  box-sizing: border-box;
}

html,
body,
.page-container {
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  background: center / cover no-repeat url("unibot-wallpaper.png") grey;
}

.logo {
  max-width: 10rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: max(1vw, 1rem) 5vw;
  color: white;
}

nav ul {
  display: flex;
  gap: max(2rem, 3vw);
}

nav ul li a {
  font-weight: 500;
  font-size: 1.25rem;
}

li {
  font-size: 1.125rem;
}

a {
  color: white;
  text-decoration: none;
}

.phone-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  max-width: fit-content;
  margin: 0 auto;
  border-radius: var(--br-main);
  background-color: #303030;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 1px solid black;
  margin: 2rem 0.5rem;
}

.heading,
form {
  margin: 0 auto;
  max-width: fit-content;
}

.heading {
  background: rgb(249, 133, 209);
  background: linear-gradient(
    90deg,
    rgba(249, 133, 209, 1) 0%,
    rgba(235, 57, 227, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheading {
  color: var(--clr-white);
  max-width: fit-content;
  margin: 0.25rem auto 0 auto;
}

.header,
footer {
  padding: 1.25rem;
}

.header {
  background-color: #2c292a;
  border-radius: var(--br-main) var(--br-main) 2rem 2rem;
  padding: 2rem;
}

.messages {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem 0.75rem;
  gap: 1.5rem;
  height: 30rem;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
}

.message img {
  max-width: 2.25rem;
  max-height: 2.25rem;
}

.message p {
  max-width: 40ch;
  margin: 0 auto 0 0;
  padding: 0.75rem;
  border-radius: var(--br-main) var(--br-main) var(--br-main) 0;
  background: rgb(85, 83, 84);
  background: linear-gradient(
    270deg,
    rgba(85, 83, 84, 1) 0%,
    rgba(106, 106, 106, 1) 100%
  );
  color: white;
}

.message.user p {
  max-width: 30ch;
  margin: auto 0 auto auto;
  background: rgb(249, 133, 209);
  background: linear-gradient(
    90deg,
    rgba(249, 133, 209, 1) 0%,
    rgba(235, 57, 227, 1) 100%
  );
  border-radius: var(--br-main) var(--br-main) 0 var(--br-main);
  color: black;
}

form {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.input {
  min-width: 70%;
}

.input {
  padding: 0.5rem 1.5rem;
  background-color: #2c292a;
  border-radius: 2rem;
  color: var(--clr-white);
  border: 1px solid black;
}

.input:focus {
  outline: 2px solid var(--clr-accent);
}

footer {
  border-radius: 0 0 var(--br-main) var(--br-main);
  padding-bottom: 1.5rem;
  border-bottom: 3.5rem solid #2c292a;
  display: flex;
  justify-content: center;
}

@media (max-width: 28.125rem) {
  form,
  .input {
    min-width: 100%;
  }

  .logo {
    max-width: 6rem;
  }

  .message {
    font-size: 1rem;
  }
}
